@import '../variables';

.header {
  border-bottom: 1px solid $gray-line;
  width: 100%;
  height: 100%;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 645px) {
      flex-direction: column;

      .header__cart {
        margin-top: 20px;
      }
    }
  }

  .menu-toggle {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
  }

  .menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    transition: right 0.3s ease-in-out;
    z-index: 1000;
  }

  .menu-open {
    right: 0;
  }

  .menu-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
  }

  .header__menu-button {
    position: relative;
  }

  .header__menu-button button {
    background-color: transparent;
    padding: 50px;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
  }

  .header__menu-dropdown {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 100vh;
    background-color: #0e2421;

    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }
  .header__menu-dropdown .menu__logo {
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  /* Ellipse 6 */

  .header__menu-dropdown a {
    margin-left: 20%;
    display: block;
    padding: 10px 20px;
    color: #555e55;
    text-decoration: none;
  }

  .header__menu-dropdown a:hover {
    color: #c6b9a8;
  }

  &__logo {
    display: flex;

    align-items: center;
    flex-grow: 1;

    img {
      margin: 0;
    }
  }
}
