.order__form {
    margin-top: 20px;
  
    .form-group {
      margin-bottom: 15px;
  
      label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
      }
  
      input[type='text'],
      input[type='tel'] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
    }
  /* Ellipse 6 */



    .radio-group {
      display: flex;
      justify-content: space-between;
  
      label {
        display: flex;
        align-items: center;
  
        input {
          margin-right: 5px;
        }
      }
    }
  
    .cart__bottom-buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      .button--outline {
        display: flex;
        align-items: center;
  
        svg {
          margin-right: 5px;
        }
      }
  
      .pay-btn {
        padding: 10px 20px;
        background-color: #000;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
  
        &:hover {
          background-color: #333;
        }
      }
    }
  }
  